.indent {
    margin-left: clamp(20px, 2vw, 2vw);
}

.title {
    font-size: clamp(20px, 2vw, 2vw);
    padding-top: 1em;
    padding-bottom: 1em;
}

.canvas-container {
    margin-right: clamp(50px, 5vw, 5vw);
}

.canvas-flex {
    display: flex;
}

.canvas {
    display: inline-block;
    position: relative;
    border: clamp(1px, 0.1vw, 0.1vw)  solid #f00;
}

.canvas-large {
    width: clamp(300px, 30vw, 30vw);
    height: clamp(300px, 30vw, 30vw);
}

.canvas-small {
    top: clamp(50px, 5vw, 5vw);
    width: clamp(200px, 20vw, 20vw);
    height: clamp(200px, 20vw, 20vw);
}

@media (max-width: 900px) {
    .canvas-flex {
        flex-direction: column;
    }
    .canvas-container {
        margin-bottom: clamp(50px, 5vw, 5vw);
    }
}

.rotateBtn {
    width: clamp(20px, 2vw, 2vw);
    height: clamp(20px, 2vw, 2vw);
    padding-left: 0px;
    padding-right: 0px;
    border: clamp(1px, 0.1vw, 0.1vw) solid #000;
}

.rotateImg {
    width: 100%;
    height: 100%;
}


.canvas-bar {
    margin-top: clamp(10px, 1vw, 1vw);
    margin-bottom: clamp(10px, 1vw, 1vw);
    width: clamp(300px, 30vw, 30vw);
    height: clamp(40px, 4vw, 4vw);
}

.row {
    display: flex;
    margin-top: clamp(10px, 1vw, 1vw);
}

.button {
    display: inline-block;
    width: clamp(120px, 12vw, 12vw);
    height: clamp(20px, 2vw, 2vw);
    padding-left: clamp(5px, 0.5vw, 0.5vw);
    padding-right: clamp(5px, 0.5vw, 0.5vw);
    border: clamp(1px, 0.1vw, 0.1vw)  solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: clamp(12px, 1.2vw, 1.2vw);
    margin-left: clamp(5px, 0.5vw, 0.5vw);
    margin-right: clamp(5px, 0.5vw, 0.5vw);
}

.bg-dark {
    background-color: #000;
}

.color-white {
    color: #fff;
}